<div ng-class="{ active : moreActive }">
    <!-- mode bar -->
    <!-- PL JS -->
    <nav class="main-menu_wrapper">
        <!-- main menu -->
        <ul class="main-menu">
            <li class="persist" ng-class="{ active: activeMode === 'map' }">
                <a ng-href="{{baseUrl + 'map' }}" class="view-map">
                    <span><translate>views.map</translate></span>
                </a>
            </li>

            <li class="persist" ng-class="{ active: activeMode === 'list' }">
                <a ng-href="{{baseUrl + 'list' }}" class="view-list">
                    <translate>views.list</translate>
                </a>
            </li>

            <li class="persist" ng-if="isActivityAvailable || hasManageSettingsPermission()" ng-class="{ active: activeMode === 'activity' }" data-message="customize">
                <a href="/activity">
                    <translate>views.activity</translate>
                </a>
            </li>

            <li class="tuck" ng-class="{ active: activeMode === 'settings' }" data-message="customize" ng-show="hasManageSettingsPermission()">
                <a href="/settings">
                    <translate>nav.settings</translate>
                </a>
            </li>

            <!-- <li class="more-menu-trigger persist" ng-class="{ active : moreActive }">
                <a ng-click="showMore($event)">
                    <translate>nav.more</translate>
                </a>
            </li> -->
        <!-- user account menu -->
            <li ng-show="currentUser">
                <a ng-click="logout()" data-modal="login">
                    <span class="label" translate="nav.logout">Log out</span>
                </a>
            </li>

            <li ng-show="currentUser">
                <a ng-click="viewAccountSettings()">
                    <img class="avatar" src="https://www.gravatar.com/avatar/{{ currentUser.gravatar || '00000000000000000000000000000000' }}?d=retro" alt="{{ currentUser.realname }}"/>
                </a>
            </li>

            <li ng-show="!currentUser && canRegister">
                <a ng-click="register()" data-modal="signup">
                    <translate translate="nav.register">Sign up</translate>
                </a>
            </li>

            <li ng-hide="currentUser">
                <a ng-click="login()" data-modal="login">
                    <translate translate="nav.login">Log in</translate>
                </a>
            </li>

            <li ng-if="todo">
                <a>
                    <span class="label"><translate>nav.alerts</translate> <span class="badge">2</span></span>
                </a>
            </li>
        <!-- user account menu -->
        </ul>

    </nav>
    <!-- PL JS -->
    <!-- mode bar -->
</div>
